<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Dmgandconc.css" />

  </head>

  <body class="flex-column">

    <main class="dmgandconc flex flex-col overflow-hidden bg-[image:var(--src)] bg-[length:cover] bg-[center_center] bg-no-repeat" style="--src:url(/assets/fb33540ff1b6b430c820d5f2d2a2f844.png)">
      <!-- Main content section about coral reef threats and concerns --> 
      <section class="flex flex-col items-center gap-y-[57px] tn:gap-y-[50px] tn:gap-x-0">
        <div class="z-[1] mx-auto flex w-full max-w-[1280px] flex-col bg-[image:var(--src)] bg-[length:cover] bg-[center_center] bg-no-repeat" style="--src:url(/assets/b5a575bdd1575ec51c22b2975a88b158.png)">
          <nav class="mt-[74px] mr-[10.63%] mb-[218px] ml-auto flex w-[78px] max-w-[85%] flex-col opacity-[0.05] md:mt-[74px] md:mr-[10.63%] md:mb-[150px] md:ml-auto xs:mt-[74px] xs:mr-[10.63%] xs:mb-20 xs:ml-auto tn:mt-[50px] tn:mr-[10.63%] tn:mb-[50px] tn:ml-auto">
            <div class="flex w-full flex-col bg-[rgb(217,217,217)]"><a class="my-1 mx-[23px] flex h-[15px] w-8 max-w-[85%] justify-center text-center font-Inter text-[12px] font-normal leading-tight text-white xs:my-1 xs:mx-4 tn:my-1 tn:mx-2">home</a></div>
          </nav>
        </div>
        <h2 class="mx-auto mb-[70.5px] flex w-[774.015625px] max-w-[85%] items-center justify-center text-center font-Inter text-[96px] font-normal leading-[1.2] text-black md:text-[52px] xxs:text-[36px] tn:mx-auto tn:mt-0 tn:mb-[50px]">Damages &amp; Concerns</h2>
      </section>

      <section class="flex flex-col">
        <!-- Section containing various coral reef threats --> 
        <article class="relative mx-auto mt-[63px] mb-[67px] flex w-[92.89%] max-w-[1188.984375px] flex-col bg-[rgba(203,244,244,0.8)] opacity-[0.8] tn:my-[50px] tn:mx-auto">
          <div class="relative mx-7 mt-[70px] mb-[31px] flex flex-col xs:mx-4 xs:mt-[70px] xs:mb-[31px] tn:mx-2 tn:mt-[50px] tn:mb-[31px]">
            <!-- Grid layout of coral reef threats --> 
            <article class="mr-[3px] flex items-center justify-between gap-x-2.5 md:flex-col md:gap-y-[30px]">
              <img class="w-[402px] min-w-0 object-cover md:w-full md:min-w-[unset] md:max-w-[402px]" src="/assets/23fe57556c9b83a9a13c5a43aebfd5ab.png" alt="alt text" />
              <p class="w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:w-full md:items-start md:text-[18px] xxs:text-[16px]">
                Coral reefs are damaged due to an accumulation of threats resulting from human activities. Overfishing, pollution and coastal development are at the top of the list of chronic stressors. Others are dredged or sandblasted for their limestone or to improve access and navigational safety.
                <br />
                 
                <br />
                In addition, long-term global changes (rising sea temperatures and CO2 levels), storms, earthquakes and volcanic eruptions also affect coral reefs.
              </p>
            </article>
            <img class="mx-auto mt-2.5 w-[55px] object-cover" src="/assets/d685c093031582801d311d2b03b1aaac.svg" alt="alt text" />
            <article class="mt-2.5 mr-3.5 flex flex-col tn:mt-2.5 tn:mr-2 tn:mb-0 tn:ml-0">
              <div class="ml-auto flex w-[410px] max-w-[85%] flex-col gap-y-[13px]">
                <p class="font-InstrumentSans flex justify-end text-right text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Coral Bleaching</p>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex flex-col items-center gap-y-[41px]">
                <div class="flex w-full items-center justify-between gap-x-2.5 lg:flex-col lg:gap-y-[30px]">
                  <img class="w-[402px] min-w-0 object-cover lg:w-full lg:min-w-[unset] lg:max-w-[402px]" src="/assets/f0cd8aee55c2603c850fbf5e5549dd46.png" alt="alt text" />
                  <p class="w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] lg:w-full md:items-start md:text-[18px] xxs:text-[16px]">Following a stress that can be caused by various factors, coral will no longer recognize the zooxanthella as its symbiote. In this case, the symbiosis between corals and their zooxanthellae stops, leading to the loss of these micro-algae and a rapid bleaching of the coral host.</p>
                </div>
                <p class="w-[89.9%] md:items-start">
                  <span class="text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:text-[18px] xxs:text-[16px]">
                    <span>Ocean warming is the </span>
                    <span class="font-bold">
                      main factor in coral bleaching.
                      <br />
                      <br />
                    </span>
                    <span>
                      Ocean surface water temperature has increased by an average of 0.5°C since 1860. The IPCC predicts an increase in average air temperature of 1.5°C by 2030 to 2050. The surface waters of the oceans will therefore continue to warm.
                      <br />
                      <br />
                      If ocean surface temperatures continue to rise, the frequency and severity of coral bleaching will also increase, likely affecting the ability of coral reefs to adapt and provide most of the services we demand of them.
                    </span>
                  </span>
                </p>
              </div>
            </article>
            <div class="mt-20 mr-[3px] flex flex-col tn:mt-[50px] tn:mr-[3px] tn:mb-0 tn:ml-0">
              <div class="flex w-[410px] max-w-[85%] flex-col gap-y-3">
                <div class="font-InstrumentSans text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Overfishing</div>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex items-center justify-between gap-x-2.5 md:flex-col md:gap-y-[30px]">
                <p class="w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:w-full md:items-start md:text-[18px] xxs:text-[16px]">The increased demand for fish has led to overfishing of reef species. Overfishing of certain species can easily affect the ecological balance and biodiversity of the reef. For example, overfishing of herbivorous fish can lead to high levels of algal growth that can suffocate coral.</p>
                <img class="w-[402px] min-w-0 object-cover md:w-full md:min-w-[unset] md:max-w-[402px]" src="/assets/78aea9c8453c4b01c4974c182d3d9234.png" alt="alt text" />
              </div>
            </div>
            <div class="mt-20 flex flex-col tn:mx-0 tn:mt-[50px] tn:mb-0">
              <div class="ml-auto flex w-[505px] max-w-[85%] flex-col gap-y-[11px]">
                <div class="font-InstrumentSans flex justify-end text-right text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Destructive fishing methods</div>
                <div class="mr-1.5 ml-auto min-h-[3px] w-[410px] max-w-[85%] bg-black"></div>
              </div>
              <div class="mr-[3px] flex items-center justify-between gap-x-2.5 lg:flex-col lg:gap-y-[30px]">
                <img class="w-[402px] min-w-0 object-cover lg:w-full lg:min-w-[unset] lg:max-w-[402px]" src="/assets/e83b8be5de410c8a71fab1cf5f0a204b.png" alt="alt text" />
                <p class="w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] lg:w-full md:items-start md:text-[18px] xxs:text-[16px]">Fishing with dynamite and cyanide makes the fish easier to catch. These practices cannot target one species in particular, they destroy everything and permanently so where they are used. Damaging coral reefs has consequences for the entire reef ecosystem, and thus has an immediate impact on the livelihood of related fishermen.</p>
              </div>
            </div>
            <div class="mt-20 mr-[3px] flex flex-col tn:mt-[50px] tn:mr-[3px] tn:mb-0 tn:ml-0">
              <div class="flex w-[410px] max-w-[85%] flex-col gap-y-3">
                <div class="font-InstrumentSans mr-[9px] text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px] tn:mt-0 tn:mr-2 tn:mb-0 tn:ml-0">Unsustainable tourism</div>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex items-center justify-between gap-x-2.5 md:flex-col md:gap-y-[30px]">
                <p class="w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:w-full md:items-start md:text-[18px] xxs:text-[16px]">Tourism generates large amounts of income for host countries. When unregulated, the pressures of tourism can cause damage to the surrounding environment: careless divers, badly placed boat anchors, hotels discharging untreated wastewater (polluting the water, creating sedimentation, while encouraging the growth of algae that compete with corals).</p>
                <img class="w-[402px] min-w-0 object-cover md:w-full md:min-w-[unset] md:max-w-[402px]" src="/assets/758b117cbe4b0c830daec680c50ba317.png" alt="alt text" />
              </div>
            </div>
            <div class="mt-20 mr-3.5 flex flex-col tn:mt-[50px] tn:mr-2 tn:mb-0 tn:ml-0">
              <div class="ml-auto flex w-[410px] max-w-[85%] flex-col gap-y-[13px]">
                <div class="font-InstrumentSans flex justify-end text-right text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Pollution</div>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex flex-col items-center gap-y-[33px]">
                <div class="flex w-full items-center justify-between gap-x-2.5 lg:flex-col lg:gap-y-[30px]">
                  <img class="w-[402px] min-w-0 object-cover lg:w-full lg:min-w-[unset] lg:max-w-[402px]" src="/assets/445a370c40807242f8d9a1241fa4e9a6.png" alt="alt text" />
                  <p class="w-[685px] lg:w-full md:items-start">
                    <span class="text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:text-[18px] xxs:text-[16px]">
                      <span>Pollution from land-based human activities, when transported by rivers into coastal waters, can damage coral reefs. Nutrient enrichment (</span>
                      <span>eutrophication</span>
                      <span>) promotes the development of algae. </span>
                      <span>Macro-algae</span>
                      <span> then colonize the substrates used by</span>
                      <span> coral larvae.</span>
                      <span> If these algae proliferate, the reef cannot regenerate and this situation is usually irreversible. Whether it is plastic or chemical, pollution has severe consequences on marine ecosystems, which find it difficult to recover.</span>
                    </span>
                  </p>
                </div>
                <div class="flex w-[89.37%] justify-between gap-x-2.5 md:flex-col md:items-center md:gap-y-[30px]">
                  <p class="w-[465px] md:w-full md:items-start">
                    <span class="text-justify font-Inter text-[20px] font-bold leading-[1.39] text-[rgb(30,30,30)] md:text-[18px] xxs:text-[16px]">
                      <span class="font-bold">Sedimentation</span>
                      <span>
                        : From coastal development, urban runoff, forestry, and agriculture. Sediment smothers corals, hindering feeding, growth, and reproduction.
                        <br />
                      </span>
                      <span class="font-bold">Excess</span>
                      <span> </span>
                      <span class="font-bold">Nutrients</span>
                      <span>
                        : From fertilizers, sewage, and animal waste. Leads to algae overgrowth, blocking sunlight and reducing oxygen, disrupting the coral ecosystem.
                        <br />
                      </span>
                      <span class="font-bold">Pathogens</span>
                      <span>: From untreated sewage and livestock runoff. These can cause coral diseases, particularly when corals are stressed.</span>
                    </span>
                  </p>
                  <p class="mt-[42px] mb-3.5 w-[465px] md:m-0 md:w-full md:items-start">
                    <span class="text-justify font-Inter text-[20px] font-bold leading-[1.39] text-[rgb(30,30,30)] md:text-[18px] xxs:text-[16px]">
                      <span class="font-bold">Toxic</span>
                      <span> </span>
                      <span class="font-bold">Substances</span>
                      <span>
                        : Includes pesticides, metals, and organic chemicals from industrial waste, sunscreens, and landfills. They harm coral reproduction, growth, and resilience.
                        <br />
                      </span>
                      <span class="font-bold">Trash</span>
                      <span> and </span>
                      <span class="font-bold">Microplastics</span>
                      <span>: From improper waste disposal and stormwater runoff. Plastic debris entangles corals, blocks sunlight, and harms reef animals by obstructing digestion and introducing toxins.</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-[108px] mr-[3px] flex flex-col xs:mt-20 xs:mr-[3px] xs:mb-0 xs:ml-0 tn:mt-[50px] tn:mr-[3px] tn:mb-0 tn:ml-0">
              <div class="flex w-[410px] max-w-[85%] flex-col gap-y-3">
                <div class="font-InstrumentSans text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Trade for aquariums</div>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex items-center justify-between gap-x-2.5 md:flex-col md:gap-y-[30px]">
                <p class="w-[685px] md:w-full md:items-start">
                  <span class="text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:text-[18px] xxs:text-[16px]">
                    <span>It is estimated that nearly</span>
                    <span class="font-bold"> 20 million </span>
                    <span>tropical fish and</span>
                    <span class="font-bold"> 12 million </span>
                    <span>hard corals worldwide are sold annually, the vast majority to private individuals (UN, 2003). The vast majority of marine aquariums are supplied with species caught in the wild. Threats from this trade include the use of cyanide for collection, over-exploitation of target organisms, and high levels of mortality associated with poor maintenance and shipping practices.</span>
                  </span>
                </p>
                <img class="w-[402px] min-w-0 object-cover md:w-full md:min-w-[unset] md:max-w-[402px]" src="/assets/194d4d66298bde8c4db06abe9998b6d9.png" alt="alt text" />
              </div>
            </div>
            <div class="mt-20 flex flex-col tn:mx-0 tn:mt-[50px] tn:mb-0">
              <div class="ml-auto flex w-[416px] max-w-[85%] flex-col gap-y-[11px]">
                <div class="font-InstrumentSans flex justify-end text-right text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Coral diseases</div>
                <div class="mr-1.5 min-h-[3px] bg-black"></div>
              </div>
              <div class="mr-[3px] flex justify-between gap-x-2.5 lg:flex-col lg:items-center lg:gap-y-[30px]">
                <img class="w-[402px] min-w-0 object-cover lg:w-full lg:min-w-[unset] lg:max-w-[402px]" src="/assets/fc30e762fcb2bd4c43d5701f06e7ce28.png" alt="alt text" />
                <p class="mt-[58px] mb-[85px] w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] lg:m-0 lg:w-full md:items-start md:text-[18px] xxs:text-[16px]">
                  Over the past 10 years, the incidence of diseases developed in corals appears to have increased dramatically, contributing to the deterioration of coral reef communities around the world.
                  <br />
                </p>
              </div>
            </div>
            <div class="mt-20 mr-[3px] flex flex-col tn:mt-[50px] tn:mr-[3px] tn:mb-0 tn:ml-0">
              <div class="flex w-[410px] max-w-[85%] flex-col gap-y-3">
                <div class="font-InstrumentSans text-[40px] font-medium leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Invasive species</div>
                <div class="min-h-[3px] bg-black"></div>
              </div>
              <div class="flex justify-between gap-x-2.5 md:flex-col md:items-center md:gap-y-[30px]">
                <p class="mt-px mb-0.5 w-[685px] text-justify font-Inter text-[20px] font-normal leading-[1.39] text-[rgb(30,30,30)] md:m-0 md:w-full md:items-start md:text-[18px] xxs:text-[16px]">Species, like the Acanthaster planci, that, due to human activity, have been moved, intentionally or unintentionally, to areas where they do not naturally exist are called “invasive species“. This is often due to a lack of predators and parasites that play a regulatory role. These species can then multiply rapidly by radically modifying the ecosystem. The damage caused by these species can be devastating: alteration of ecosystem dynamics, loss of biodiversity, reduction of ecosystem resilience and loss of resources.</p>
                <img class="w-[402px] min-w-0 object-cover md:w-full md:min-w-[unset] md:max-w-[402px]" src="/assets/e6ecf5ce7eb389ff6e325b970eaee33b.png" alt="alt text" />
              </div>
            </div>
          </div>
          <div class="font-InstrumentSans absolute left-1/2 top-[31px] flex h-12 w-[499px] translate-x-[-50%] translate-y-[0] justify-center text-center text-[40px] font-semibold leading-[1.2] tracking-[-0.8px] text-[rgb(30,30,30)] md:items-start md:text-[36px] xxs:text-[32px]">Why are corals threatened?</div>
        </article>
      </section>

      <section class="flex flex-col">
        <!-- Footer section with contact and social media information --> 
        <div class="mx-auto mt-[88px] flex w-full max-w-[1280px] flex-col bg-[rgb(0,135,135)] xs:mx-auto xs:mt-20 xs:mb-0 tn:mx-auto tn:mt-[50px] tn:mb-0">
          <div class="mx-9 mt-[17px] mb-[27px] flex gap-x-5 md:mx-8 md:mt-[17px] md:mb-[27px] md:flex-col md:items-center md:gap-y-[30px] xs:mx-4 xs:mt-[17px] xs:mb-[27px] tn:mx-2 tn:mt-[17px] tn:mb-[27px]">
            <div class="z-[1] flex w-[664px] min-w-0 flex-col md:w-full md:min-w-[unset]">
              <div class="font-Montserrat mx-1 flex items-center text-[60px] font-normal leading-[1.21] text-[rgb(191,245,255)] md:text-[52px] xxs:text-[36px]">Deep Reefs</div>
              <p class="font-Montserrat ml-1 flex items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)]">Deep Reefs is a website that provides information about coral reefs. This website was created as part of an Informatics project for SMA Santa Maria 1 Bandung.</p>
              <p class="mt-[92px] mr-1.5 flex items-center xs:mt-20 xs:mr-1.5 xs:mb-0 xs:ml-0 tn:mt-[50px] tn:mr-1.5 tn:mb-0 tn:ml-0">
                <span class="font-Montserrat text-[14px] font-bold leading-[1.21] text-[rgb(191,245,255)]">
                  <span class="font-bold">
                    About Me
                    <br />
                  </span>
                  <span>I created Deep Reefs to share informations about coral reefs and to raise awareness about their importance and the threats they face. Through this site, I hope to educate and inspire others to appreciate and protect these vital marine ecosystems, and also to hopefully get a good grade.</span>
                </span>
              </p>
            </div>
            <div class="mt-[72px] mb-[19px] flex w-[506px] min-w-0 flex-col gap-y-[46px] md:m-0 md:w-full md:min-w-[unset]">
              <div class="relative flex w-[88px] max-w-[85%] flex-col">
                <div class="font-Montserrat relative flex items-center justify-center text-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)]">Social Media</div>
                <img class="absolute left-0 bottom-[-23px] w-[31px]" src="/assets/145c39a09949379514814fef26d0fabc.png" alt="alt text" />
              </div>
              <div class="flex flex-col items-center gap-y-[79px] tn:gap-y-[50px] tn:gap-x-0">
                <div class="flex w-full justify-between gap-x-2.5 xxs:flex-col xxs:items-center xxs:gap-y-[30px]">
                  <p class="font-Montserrat flex w-[261px] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] xxs:w-full">
                    081395446863
                    <br />
                    ivanderkeynan07@gmail.com
                  </p>
                  <p class="font-Montserrat flex w-[209px] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] xxs:w-full">
                    Ivander Keynan Sianturi
                    <br />
                    Bandung, Indonesia
                  </p>
                </div>
                <div class="flex w-[334px] max-w-[85%] flex-col"><div class="font-Montserrat mr-[60px] flex h-[17px] w-[274px] max-w-[85%] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] md:mt-0 md:mr-8 md:mb-0 md:ml-0 xs:mt-0 xs:mr-4 xs:mb-0 xs:ml-0 tn:mt-0 tn:mr-2 tn:mb-0 tn:ml-0">© 2024 Deep Reefs. All rights reserved.</div></div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
