<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Atlantic.css" />

  </head>

  <body class="flex-column">

    <main class="atlantic flex flex-col overflow-hidden bg-[rgb(104,180,204)]">
      <section class="relative flex flex-col">
        <div class="absolute left-1/2 top-0 flex w-[1280px] translate-x-[-50%] translate-y-[0] flex-col bg-[image:var(--src)] bg-[length:100%_100%] bg-[center_center] bg-no-repeat" style="--src:url(/assets/b5a575bdd1575ec51c22b2975a88b158.png)">
          <div class="mt-[74px] mr-[10.63%] mb-[218px] ml-auto flex w-[78px] max-w-[85%] flex-col opacity-[0.05] md:mt-[74px] md:mr-[10.63%] md:mb-[150px] md:ml-auto xs:mt-[74px] xs:mr-[10.63%] xs:mb-20 xs:ml-auto tn:mt-[50px] tn:mr-[10.63%] tn:mb-[50px] tn:ml-auto">
            <div class="flex w-full flex-col bg-[rgb(217,217,217)]"><div class="my-1 mx-[23px] flex h-[15px] w-8 max-w-[85%] justify-center text-center font-Inter text-[12px] font-normal leading-tight text-white xs:my-1 xs:mx-4 tn:my-1 tn:mx-2">home</div></div>
          </div>
        </div>
        <div class="relative mx-auto mt-[220px] mb-[92px] flex w-[92.97%] max-w-[1190.015625px] flex-col items-center md:mx-auto md:mt-[150px] md:mb-[92px] xs:my-20 xs:mx-auto tn:my-[50px] tn:mx-auto">
          <div class="font-InstrumentSans flex justify-center text-center text-3xl font-normal tracking-[-0.6px] text-white md:items-start md:text-[28px] xxs:text-[24px]">This is</div>
          <div class="font-Montserrat flex items-center justify-center text-center text-[115px] font-bold leading-[1.21] text-white md:text-[52px] xxs:text-[36px]">Atlantic</div>
          <div class="font-Montserrat flex items-center justify-center text-center text-[50px] font-bold leading-[1.22] text-white md:text-[46px] xxs:text-[36px]">ocean</div>
          <div class="mt-[61px] flex w-full flex-col tn:mx-0 tn:mt-[50px] tn:mb-0">
            <p class="flex h-[270px] w-full justify-center md:items-start">
              <span class="font-InstrumentSans text-center text-[25px] font-bold leading-[1.2] tracking-[-0.5px] text-white md:text-[24px] xxs:text-[20px]">
                <span class="font-bold">
                  Dive into the vibrant world of coral reefs, spanning every corner of our oceans.
                  <br />
                  <br />
                </span>
                <span>
                  Here, we invite you to explore breathtaking underwater ecosystems that support an astonishing diversity of marine life. From the Great Barrier Reef in Australia to the Caribbean’s coral gardens, each reef has its own story, beauty, and importance.
                  <br />
                  Discover detailed information about coral reefs around the world, learn about their ecological roles, and gain insights into the threats they face—from climate change and pollution to overfishing. Our mission is to spread awareness, foster appreciation, and inspire action to protect these delicate ecosystems.
                  <br />
                  Begin your journey to explore, learn, and protect.
                </span>
              </span>
            </p>
          </div>
        </div>
      </section>

      <section class="flex flex-col">
        <div class="mx-auto mt-[46px] mb-[43px] flex w-[90.7%] max-w-[1160.953125px] flex-col gap-y-[75px] tn:gap-y-[50px] tn:gap-x-0">
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex flex-col gap-y-[15px]">
              <div class="flex gap-x-[21px] lg:flex-col lg:items-center lg:gap-y-[30px]">
                <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px lg:m-0 lg:w-full lg:min-w-[unset]">
                  <img class="w-full object-cover" src="/assets/49d0d2083a79c85a3687fa4958342515.png" alt="alt text" />
                  <div class="mx-px flex gap-x-[5px]">
                    <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                    <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">1° N 49° W</div>
                  </div>
                </div>
                <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] lg:w-full lg:min-w-[unset]">
                  <div class="flex items-center gap-x-[19px] sm:flex-col sm:gap-y-[30px]">
                    <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] sm:w-full xxs:text-[32px]">Amazon Reef</div>
                    <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white sm:w-full">Off the coast of French Guiana and northern Brazil</div>
                  </div>
                  <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                    The Amazon Reef, or Amazonian Reef, is a vast coral and sponge ecosystem located in the Atlantic Ocean, off the coasts of northern Brazil and French Guiana. Stretching approximately 1,000 kilometers (600 miles) and covering over 9,300 square kilometers (3,600 square miles), it ranks among the largest reef systems worldwide. Although its discovery was only formally published in 2016, preliminary evidence of its existence dates back to the 1950s. Located near the Amazon River’s mouth, the reef lies in sediment-rich waters, creating a unique environment vastly different from typical coral reefs.
                    <br />
                    <br />
                    Brazilian biologist Rodrigo Moura first suspected the presence of this reef in the 1970s based on fish commonly associated with coral habitats. Years later, a team from the University of Georgia revisited Moura’s findings using sonar and sediment samples, confirming the reef’s location in 2012. Researchers later used dredging techniques to further explore its biodiversity, which was officially documented in *Science Advances* in 2016, drawing scientific
                  </p>
                </div>
              </div>
              <div class="flex flex-col">
                <p class="font-IstokWeb h-[180px] w-full text-justify text-sm font-normal text-white">
                  attention to its unusual conditions and distinct species.
                  <br />
                  <br />
                  Positioned below the Amazon’s freshwater plume, the reef faces limited sunlight and is home to unique organisms that can tolerate murky, low-oxygen conditions. It hosts 61 types of sponges, 73 fish species, and various forms of red algae, including rhodolith beds. The reef’s ecosystem varies along its length, with carnivorous species like sea urchins dominating the northern areas due to sediment shading, while sunlight allows more coral-centric communities in the southern sections. The reef supports marine species adapted to this environment, making it an important habitat for fish migrating between Brazilian and Caribbean reefs.
                  <br />
                  <br />
                  Despite its recent discovery, the Amazon Reef faces threats from climate change, which has increased ocean acidification and temperatures. It is also vulnerable to pollution, overfishing, and oil exploration. In recent years, the Brazilian government issued numerous licenses for oil extraction nearby, posing a risk to the reef’s fragile ecosystem.
                </p>
              </div>
            </div>
            <div class="mr-px flex justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/b756329d664f1252b9b42d3190afb2b6.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">Amazon Reef Structures</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/8902028b4124d142940c120af1f1677a.png" alt="alt text" />
                <div class="ml-[13px] flex flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2">
                  <div class="flex h-2 w-full justify-center">
                    <span class="font-BaiJamjuree text-center text-[6px] font-normal leading-[1.33] text-white">
                      <span>The </span>
                      <span class="underline">RV Atlantis</span>
                      <span>, upon which the discovery team conducted research</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/05608974cc2eb4dd3bced255058c98ab.png" alt="alt text" />
                <div class="ml-[13px] flex w-[98px] max-w-[85%] flex-col sm:my-0 sm:mx-auto"><div class="font-BaiJamjuree mr-px h-2 w-[98.98%] text-[6px] font-normal leading-[1.33] text-white">Rhodolith field covered by sponges</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/f37853fa0c8f18ef66ef85041a9303c8.png" alt="alt text" />
                <div class="mr-[35px] ml-[13px] flex flex-col md:mt-0 md:mr-8 md:mb-0 md:ml-[13px] xs:mt-0 xs:mr-4 xs:mb-0 xs:ml-[13px] tn:my-0 tn:mx-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Reef structures found between 95 and 120 meters deep</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/fdf6973f99e7005800e83f149a9e9f17.png" alt="alt text" />
                <div class="ml-[13px] flex w-[131px] max-w-[85%] flex-col md:my-0 md:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Soft coral and at least six types of sea sponges</div></div>
              </div>
            </div>
          </div>
          <div class="mr-[3px] flex flex-col gap-y-[230px] md:gap-y-[150px] md:gap-x-0 xs:gap-y-20 tn:gap-y-[50px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[69px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/6586f2846a1a3698f00c55896b8969b0.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">1° N20° 10&#x27; 25.32&quot; N 87° 0&#x27; 46.44&quot; W49° W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:flex-col xs:gap-y-[30px] xs:gap-x-4">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xs:w-full xxs:text-[32px]">Arrecifes de Cozumel</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white xs:w-full">Cozumel, Mexico</div>
                </div>
                <div class="relative flex flex-col">
                  <p class="font-IstokWeb relative min-w-0 text-justify text-sm font-normal text-white">
                    The Arrecifes de Cozumel National Park, located off the southern coast of Cozumel island in Quintana Roo, Mexico, is a protected marine area renowned for its rich biodiversity and vibrant coral reefs. It is part of the larger Mesoamerican Barrier Reef System, which spans the coasts of multiple countries and ranks as the world’s second-largest reef system. The park covers approximately 120 square kilometers and includes shallow coral formations and mesophotic reefs extending to depths of 100 meters. These diverse habitats create a thriving environment for marine life and have made Cozumel a globally popular scuba-diving destination.
                    <br />
                    <br />
                    The park was officially designated as a national marine park on July 19, 1996, under the administration of President Ernesto Zedillo. It encompasses various reef zones around the southern part of the island, starting just south of the International Pier and extending around Punta Sur and a portion of the east coast. The UNESCO-protected Isla Cozumel Biosphere Reserve, which also includes the Manglares y Humedales del Norte de Isla Cozumel, adds additional environmental protection under the Ramsar Convention to preserve the wetlands and mangroves on the island.
                    <br />
                    <br />
                  </p>
                  <div class="absolute left-[-421px] bottom-[-215px] flex w-[1161px] flex-col">
                    <p class="font-IstokWeb h-[260px] w-full text-justify text-sm font-normal text-white">
                      attention to its unusual conditions and distinct species.
                      <br />
                      <br />
                      Arrecifes de Cozumel supports over 1,000 marine species. Its reefs host various hard and soft corals, sponges, and an array of Caribbean fish species, as well as zoanthids, polychaetes, and crustaceans. Notably, the park is home to the endangered Cozumel splendid toadfish (*Sanopus splendidus*), which is endemic to the island and listed as vulnerable by the IUCN. Additionally, it serves as a habitat for endangered sea turtle species, including the loggerhead, hawksbill, and green sea turtles, as well as species like the queen conch and black coral, both of which face protection challenges due to overharvesting.
                      <br />
                      <br />
                      Since its establishment, Arrecifes de Cozumel has encountered conservation challenges. The once-abundant black corals have yet to recover from overharvesting that began in the 1960s. Conservation efforts continue, but the ecosystem remains vulnerable to pressures such as tourism, climate change, and overfishing, emphasizing the need for ongoing protection and sustainable practices to preserve this unique marine sanctuary.
                      <br />
                      <br />
                      Despite its recent discovery, the Amazon Reef faces threats from climate change, which has increased ocean acidification and temperatures. It is also vulnerable to pollution, overfishing, and oil exploration. In recent years, the Brazilian government issued numerous licenses for oil extraction nearby, posing a risk to the reef’s fragile ecosystem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex w-[919.984375px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/f5d8345facb03fd66e74d7e404d5bcfa.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">The Cozumel splendid toadfish</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/aa71efb10708ef4d43c65151d05be428.png" alt="alt text" />
                <div class="ml-[13px] flex w-[68px] max-w-[85%] flex-col xs:my-0 xs:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Map of the National Park</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/5c95402c8e07331a768a89f9a279c51c.png" alt="alt text" />
                <div class="ml-[13px] flex w-11 max-w-[85%] flex-col xxs:my-0 xxs:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Clumps of reefs</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/e96f7a94de89b57e11c0fcf09a957f53.png" alt="alt text" />
                <div class="ml-[13px] flex w-[85px] max-w-[85%] flex-col sm:my-0 sm:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">National Park from the Surface</div></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/000caff7b1869dda60d6fa9e510fa547.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">1° N20° 10&#x27; 25.32&quot; N 87° 0&#x27; 46.44&quot; W49° W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 tn:gap-x-2">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:text-[32px]">Belize Barrier Reef</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white">Belize</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  The Belize Barrier Reef, a 300-kilometer-long section of the Mesoamerican Barrier Reef System, stretches along Belize&#x27;s Caribbean coast and is one of the most significant coral reef systems worldwide. It lies close to shore, ranging from about 300 meters in the north to around 40 kilometers in the south. Known for its incredible marine biodiversity, the reef is Belize’s top tourist attraction, drawing scuba divers and snorkelers, as well as contributing substantially to the fishing industry. Charles Darwin, in 1842, called it &quot;the most remarkable reef in the West Indies,&quot; underscoring its ecological importance.
                  <br />
                  <br />
                  The Belize Barrier Reef Reserve System, a designated UNESCO World Heritage site since 1996, comprises seven marine reserves, 450 cayes, and three atolls, such as Turneffe, Glover’s, and Lighthouse Reefs. These regions host a remarkable variety of marine species: 70 species of hard corals, 36 soft coral species, and over 500 species of fish, in addition to various invertebrates. The reef also features unique dive spots, including the famous Great Blue Hole, a
                </p>
              </div>
            </div>
            <div class="flex flex-col">
              <p class="font-IstokWeb h-[120px] w-full text-justify text-sm font-normal text-white">
                massive underwater sinkhole at Lighthouse Reef, which Jacques Cousteau helped popularize.
                <br />
                <br />
                To combat environmental pressures, Belize implemented conservation initiatives such as banning bottom trawling in 2010 and restricting offshore drilling within 1 km of the reef in 2015. Despite these measures, the reef faces threats from ocean pollution, uncontrolled tourism, and climate change. Notably, mass coral bleaching events in 1995 and 1998, exacerbated by Hurricane Mitch, have caused significant coral mortality. Although sparsely populated coastal areas reduce human-related damage compared to other reefs, bleaching events coupled with diseases have drastically impacted coral health. Scientists estimate that around 40% of the reef has been damaged since 1998, heightening concerns over its long-term resilience.
              </p>
            </div>
            <div class="mr-px flex justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/8f07815fe48399aaa722bb02af495a10.png" alt="alt text" />
                <div class="w-[86%]">
                  <span class="font-BaiJamjuree text-[6px] font-normal leading-[1.33] text-white underline">
                    <span>Green sea turtle</span>
                    <span> with </span>
                    <span>remora fish</span>
                    <span> on its bac</span>
                  </span>
                </div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/dd78ebd83ce2ef6647ff30395e882d79.png" alt="alt text" />
                <div class="ml-[13px] flex w-[92px] max-w-[85%] flex-col sm:my-0 sm:mx-auto">
                  <div class="flex h-2 w-full justify-center">
                    <span class="font-BaiJamjuree text-center text-[6px] font-normal leading-[1.33] text-white">
                      <span>Brain coral in the </span>
                      <span class="underline">Great Blue Hole</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/927e7e675b5886557cc110c894ca25f8.png" alt="alt text" />
                <div class="ml-[13px] flex w-[52px] max-w-[85%] flex-col xxs:my-0 xxs:mx-auto">
                  <div class="flex h-2 w-full justify-center">
                    <span class="font-BaiJamjuree text-center text-[6px] font-normal leading-[1.33] text-white underline">
                      <span>Snorkeling</span>
                      <span> the reef</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/90e1cbd4ef93522f0297eb675d92b6a9.png" alt="alt text" />
                <div class="ml-[13px] flex w-[34px] max-w-[85%] flex-col tn:my-0 tn:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Aerial Photo</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/8f82e3a51a5d3b15bc490ae91da14d6b.png" alt="alt text" />
                <div class="flex w-[87%] flex-col">
                  <div class="flex h-2 w-full justify-center">
                    <span class="font-BaiJamjuree text-center text-[6px] font-normal leading-[1.33] text-white">
                      <span>Belize Barrier Reef from the </span>
                      <span class="underline">International Space Station</span>
                      <span> in 2016</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/e406ef12eef441791276bdf16f7f9e42.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">18° 3&#x27; 0.756&quot; N 87° 33&#x27; 18.6264&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 xxs:flex-col xxs:gap-y-[30px]">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:w-full xxs:text-[32px]">Mexico Rocks</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white xxs:w-full">Ambergris Caye, Belize</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  Mexico Rocks is a unique shallow patch reef complex situated near the northern end of Ambergris Caye, Belize, and forms part of the renowned Belize Barrier Reef system in the Caribbean. The reef spans about 100 patch reefs, mainly composed of boulder star corals (*Montastraea annularis*) and has developed over the last 420 years in water depths of approximately 2.5 to 5 meters (8 to 16 feet). This growth took place under relatively stable sea level conditions, allowing the reef to flourish in the clear, shallow waters of Ambergris Caye. In 2015, Mexico Rocks became a designated protected area as part of the Hol Chan Marine Reserve, enhancing its status as a critical ecotourism site for snorkeling and SCUBA diving enthusiasts.
                  <br />
                  <br />
                  The reef stands out as a rare ecosystem, as Belize has only one other reef with a similar structure, located at Glover’s Reef. Mexico Rocks’ distinctive coral assemblage includes staghorn coral (*Acropora cervicornis*), which grows along the ridge’s windward and leeward edges. The reef boasts about 30 species of hard corals, creating a
                </p>
              </div>
            </div>
            <div class="flex flex-col">
              <p class="font-IstokWeb h-[200px] w-full text-justify text-sm font-normal text-white">
                biodiverse underwater environment that supports a wide variety of marine life.
                <br />
                <br />
                The reef&#x27;s waters are home to vibrant fish populations, including the Atlantic blue tang (*Acanthurus coeruleus*), yellowtail snapper (*Ocyurus chrysurus*), and southern stingray (*Dasyatis americana*). Larger species such as nurse sharks (*Ginglymostoma cirratum*) and green moray eels (*Gymnothorax funebris*) are also commonly spotted here. Mexico Rocks teems with invertebrates like spiny lobsters, arrow crabs, and banded shrimp, all of which contribute to its ecological richness. Sponges, anemones, and sea fans add further diversity, creating a stunning array of colors and textures across the reef.
                <br />
                <br />
                Conservation efforts in Mexico Rocks reflect its importance to local biodiversity and its ecotourism potential, as Belize aims to protect the reef&#x27;s ecosystems from threats such as overfishing and climate change. By preserving this vibrant underwater landscape, Mexico Rocks remains a valuable habitat that continues to draw marine enthusiasts while supporting Belize&#x27;s broader conservation initiatives.
              </p>
            </div>
            <div class="flex w-[680px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/89843c78d3e64c7ff0539d29eb3c265b.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">Lobster in Mexico Rocks</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/d0e088de5cf2351e1812352e42ff66ad.png" alt="alt text" />
                <div class="ml-[13px] flex w-[76px] max-w-[85%] flex-col xxs:my-0 xxs:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Stick Coral in Mexico Rocks</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/e35a7c95e18309bb52f03b823d078aed.png" alt="alt text" />
                <div class="ml-[13px] flex w-[103px] max-w-[85%] flex-col xs:my-0 xs:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Some kind of fish in Mexico Rocks idk</div></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="flex flex-col">
        <div class="mx-auto mt-8 mb-[25px] flex w-[90.7%] max-w-[1160.953125px] flex-col gap-y-[75px] tn:gap-y-[50px] tn:gap-x-0">
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/d352206d7036ce910f4bff226e7eef26.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">22° 13&#x27; 32.88&quot; N 89° 24&#x27; 20.808&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 tn:flex-col tn:gap-y-[30px] tn:gap-x-2">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:text-[32px] tn:w-full">Scorpion Reef</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white tn:w-full">Yucatán, Mexico</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  Scorpion Reef, or *Arrecife Alacranes*, is an expansive atoll in the Gulf of Mexico, positioned about 125 kilometers north of Yucatán, Mexico. This natural sanctuary is the largest reef in the southern Gulf and is part of the Campeche Bank archipelago. It comprises five primary islets: Isla Pérez, Isla Desertora, Isla Pájaros, Isla Chica, and Isla Desterrada, each sustaining unique vegetation. Isla Pérez, the only inhabited island, houses a lighthouse that guides vessels navigating this isolated area.
                  <br />
                  <br />
                  Designated a national park, Scorpion Reef is an ecologically important area. It has been recognized by BirdLife International as an Important Bird Area, primarily due to its support for species like the magnificent frigatebird. The site also serves as a critical habitat for marine life, with its surrounding waters fostering diverse coral and fish species, making it a significant spot for ecological research and conservation.
                  <br />
                  <br />
                </p>
              </div>
            </div>
            <div class="flex flex-col"><p class="font-IstokWeb h-10 w-full text-justify text-sm font-normal text-white">Historically, the reef has been perilous for ships, such as the British postal steamer *Tweed*, which tragically wrecked on the reef in 1847, resulting in 72 lost lives and a cargo of mercury. This incident underscores the challenges vessels faced in navigating the reef’s surrounding waters.</p></div>
            <div class="flex w-[440px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/445528ebefbf9668bfd881f64c037e22.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">A Stuck Anchor</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/1c6810c196cb62943879d36f9f256c92.png" alt="alt text" />
                <div class="ml-[13px] flex w-[22px] max-w-[85%] flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">The fish</div></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] lg:flex-col lg:items-center lg:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px lg:m-0 lg:w-full lg:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/4e1d33730d5de8f5209e2f97d62e379f.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">25° 26&#x27; 60&quot; N 79° 32&#x27; 60&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] lg:w-full lg:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:flex-col xs:gap-y-[30px] xs:gap-x-4">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xs:w-full xxs:text-[32px]">Miami Terrace Reef</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white xs:w-full">Florida, United States</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  The Miami Terrace Reef is an expansive coral reef along Florida&#x27;s coast, extending from South Miami to Boca Raton. It rests between 650 to 2,000 feet (200 to 610 meters) deep on the Miami Terrace, a 40-mile-long limestone shelf located roughly 15 miles offshore. Although significant portions of the Miami Terrace remain unexplored, University of Miami researchers have gradually unveiled new reef areas, notably discovering new sections in 2005.
                  <br />
                  <br />
                  The reef habitat consists of unique limestone ridges that support diverse marine life. Species inhabiting the reef include various fish like wreckfish, barrelfish, and the striking alfonsino (*Beryx decadactylus*). Additionally, it’s home to invertebrates such as *Lophelia pertusa* coral, stylasterine hydrocoral, bamboo coral, sponges, octocorals, and mobile species like crabs, sea urchins, and mollusks.
                  <br />
                  <br />
                  The Miami Terrace&#x27;s coral ecosystems are vulnerable to destructive practices like bottom trawling and dredging.
                </p>
              </div>
            </div>
            <div class="flex flex-col">
              <p class="font-IstokWeb h-20 w-full text-justify text-sm font-normal text-white">
                Despite recommendations for protection by the South Atlantic Fishery Management Council in 2004, these measures have yet to be finalized. Conservationists have also proposed protections for adjacent coral areas, including the Pourtales Terrace, Savannah-East Florida, and Stetson Reef.
                <br />
                <br />
                The terrace&#x27;s ecosystem is critical not only for the biodiversity it supports but also for ongoing marine research and conservation efforts.
              </p>
            </div>
            <div class="mr-px flex justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/20d651e25085515e2c6c593aee5c9c83.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">Sponges and squid</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/49d8617e5e66e155bc98f0ea915f71a4.png" alt="alt text" />
                <div class="ml-[13px] flex w-[39px] max-w-[85%] flex-col xxs:my-0 xxs:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white"> blind lobsters</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/d62a4f16a594657e4578056d4e335a00.png" alt="alt text" />
                <div class="ml-[13px] flex w-[110px] max-w-[85%] flex-col md:my-0 md:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">the “lollipops” and the white “puff balls”</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/ed7c0316e5dbbe3ee4571ad1a879acae.png" alt="alt text" />
                <div class="ml-[13px] flex w-[86px] max-w-[85%] flex-col sm:my-0 sm:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">marbled catshark (Galeus arae)</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/eb847841c766b1fb2d4836caf30ff55c.png" alt="alt text" />
                <div class="ml-[13px] flex w-8 max-w-[85%] flex-col tn:my-0 tn:mx-auto"><div class="font-BaiJamjuree mr-px h-2 w-[96.88%] text-[6px] font-normal leading-[1.33] text-white">cookie star</div></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/f75e7eb311f9f83cae6c7ab4eeb11af1.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">25° 26&#x27; 60&quot; N 79° 32&#x27; 60&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] sm:flex-col sm:gap-y-[30px]">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] sm:w-full xxs:text-[32px]">Blake Plateau reef</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white sm:w-full">Southeastern United States</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  The Blake Plateau is a notable geological feature located off the southeastern coast of the United States, spanning from North Carolina to Florida. Situated in the western Atlantic Ocean, the plateau lies between the continental shelf and the deep ocean basin. This plateau is approximately 145 kilometers wide and extends about 170 kilometers north to south, sloping from depths of 500 meters nearshore to about 1,000 meters offshore before dropping steeply at the Blake Escarpment.
                  <br />
                  <br />
                  Historically, it was first charted by the *USC&amp;GS George S. Blake*, a survey ship that pioneered deep-sea exploration techniques in the 19th century. Through various expeditions, the plateau’s unique, current-swept characteristics were documented, with findings of scoured coral rock surfaces and a relatively bare seabed.
                  <br />
                  <br />
                  Ecologically, the Blake Plateau hosts the world’s largest known deep-water coral reef, spanning 6.4 million acres from
                </p>
              </div>
            </div>
            <div class="flex flex-col"><p class="font-IstokWeb h-[60px] w-full text-justify text-sm font-normal text-white">Miami to Charleston, discovered during sonar explorations starting in 2019. The area includes &quot;Million Mounds,&quot; an expansive coral mound field reaching up to 500 kilometers long. The plateau’s rich coral ecosystems and mineral deposits, including manganese nodules and gas hydrates, are of considerable interest for biological and geological research. Conservationists are concerned about the impact of deep-sea fishing on the plateau, as the slow-growing fish populations are increasingly exploited.</p></div>
            <div class="flex w-[680px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/19bb3d7cbbfe542eaa306d04b3945a0c.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">Illustration of Black Plateau</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/6a6c97c1d9011c797eba3adaa7c29005.png" alt="alt text" />
                <div class="ml-[13px] flex w-[55px] max-w-[85%] flex-col tn:my-0 tn:mx-auto"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">Juvenile sea turtles</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/fe6655097daa7468f202f6748f14fe88.png" alt="alt text" />
                <div class="ml-[13px] flex w-[33px] max-w-[85%] flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">golden crab</div></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/1bf4315731acdaacc2c1e238a9500e00.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">22° 14&#x27; 2.4&quot; N 89° 25&#x27; 12&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 tn:gap-x-2">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:text-[32px]">Isla Pérez</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white">Gulf of Mexico</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  The Amazon Reef, or Amazonian Reef, is a vast coral and sponge ecosystem located in the Atlantic Ocean, off the coasts of northern Brazil and French Guiana. Stretching approximately 1,000 kilometers (600 miles) and covering over 9,300 square kilometers (3,600 square miles), it ranks among the largest reef systems worldwide. Although its discovery was only formally published in 2016, preliminary evidence of its existence dates back to the 1950s. Located near the Amazon River’s mouth, the reef lies in sediment-rich waters, creating a unique environment vastly different from typical coral reefs.
                  <br />
                  <br />
                  Brazilian biologist Rodrigo Moura first suspected the presence of this reef in the 1970s based on fish commonly associated with coral habitats. Years later, a team from the University of Georgia revisited Moura’s findings using sonar and sediment samples, confirming the reef’s location in 2012. Researchers later used dredging techniques to further explore its biodiversity, which was officially documented in *Science Advances* in 2016, drawing scientific
                </p>
              </div>
            </div>
            <div class="flex flex-col gap-y-[15px]">
              <div class="flex flex-col">
                <p class="font-IstokWeb h-[180px] w-full text-justify text-sm font-normal text-white">
                  attention to its unusual conditions and distinct species.
                  <br />
                  <br />
                  Positioned below the Amazon’s freshwater plume, the reef faces limited sunlight and is home to unique organisms that can tolerate murky, low-oxygen conditions. It hosts 61 types of sponges, 73 fish species, and various forms of red algae, including rhodolith beds. The reef’s ecosystem varies along its length, with carnivorous species like sea urchins dominating the northern areas due to sediment shading, while sunlight allows more coral-centric communities in the southern sections. The reef supports marine species adapted to this environment, making it an important habitat for fish migrating between Brazilian and Caribbean reefs.
                  <br />
                  <br />
                  Despite its recent discovery, the Amazon Reef faces threats from climate change, which has increased ocean acidification and temperatures. It is also vulnerable to pollution, overfishing, and oil exploration. In recent years, the Brazilian government issued numerous licenses for oil extraction nearby, posing a risk to the reef’s fragile ecosystem.
                </p>
              </div>
              <div class="flex w-[200px] max-w-[85%] flex-col items-center">
                <img class="w-full object-cover" src="/assets/148079c1205613a3b2ceda2866cfa1f7.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">Entrance to the small port on Isla Pérez</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="flex flex-col">
        <div class="mx-auto mt-[50px] mb-[41px] flex w-[90.7%] max-w-[1160.953125px] flex-col gap-y-[75px] tn:gap-y-[50px] tn:gap-x-0">
          <div class="flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/a810f465baf0ac1254c63be5c46a16ac.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">0° 54&#x27; 47.8872&quot; S 44° 19&#x27; 10.308&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 tn:gap-x-2">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:text-[32px]">Manuel Luis Reefs</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white">Brazil</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  The Parcel de Manuel Luís Marine State Park, situated in Maranhão, Brazil, protects the significant Manuel Luís Reef, one of the largest coral reefs in the South Atlantic. Named after Manuel Luís, the fisherman who discovered it in the 19th century, this park encompasses about 45,937 hectares (113,510 acres) and lies approximately 72 km from Maiau Island and 80 km from Lençóis Island. The park’s purpose is to preserve its diverse marine ecosystem, including its colorful reef fish, large species like groupers and sea turtles, and various coral species such as *Montastraea cavernosa*, *Millepora alcicornis*, and *Siderastrea stellata*.
                  <br />
                  <br />
                  Historically, the park was established in 1991 to protect these reefs from harmful human activities like hydrocarbon pollution and overfishing, and was later designated as a Ramsar Wetland of International Importance in 2000. The reefs are particularly vulnerable to environmental stress, with coral bleaching first documented in 1999.
                  <br />
                  <br />
                </p>
              </div>
            </div>
            <div class="flex flex-col"><p class="font-IstokWeb h-[60px] w-full text-justify text-sm font-normal text-white">In addition to its ecological significance, the reef has a fascinating maritime history due to its strong currents and shallow areas at low tide, which have caused numerous shipwrecks over the centuries. More than 200 wrecks are scattered throughout the reef, earning it a reputation as a &quot;ship graveyard&quot; second only to the Bermuda Triangle. Some of the most notable wrecks include *São José* (1763), *Nossa Senhora das Necessidades* (1770), *Venus* (1814), and *Ana Cristina* (1984), the latter of which remains well-preserved.</p></div>
            <div class="flex w-[441px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[201px] min-w-0 flex-col">
                <img class="mr-px w-[99.5%] object-cover" src="/assets/fd0eff963b76940aa2592639ca00d159.png" alt="alt text" />
                <div class="font-BaiJamjuree ml-3.5 text-[6px] font-normal leading-[1.33] text-white tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2">Passenger steamship Uberaba.1921 wrecked on the Manoel Luis reef.</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/78bc77b3c3bfa9bb3822c038d8100a22.png" alt="alt text" />
                <div class="ml-[13px] flex w-[53px] max-w-[85%] flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">diver diving i guess</div></div>
              </div>
            </div>
          </div>
          <div class="mr-[3px] flex flex-col gap-y-[15px]">
            <div class="flex gap-x-[21px] md:flex-col md:items-center md:gap-y-[30px]">
              <div class="mb-[9px] flex w-[400px] min-w-0 flex-col gap-y-px md:m-0 md:w-full md:min-w-[unset]">
                <img class="w-full object-cover" src="/assets/bf094938611dcfd83163a386362d6b99.png" alt="alt text" />
                <div class="mx-px flex gap-x-[5px]">
                  <img class="my-px w-[7px] object-cover" src="/assets/ec05c58f8c6be5c9549fd7862feee61b.svg" alt="alt text" />
                  <div class="font-Arimo text-[10px] font-normal leading-[1.1] text-white underline">20° 17&#x27; 48.066&quot; N 87° 1&#x27; 6.3804&quot; W</div>
                </div>
              </div>
              <div class="flex w-[737px] min-w-0 flex-col gap-y-[9px] md:w-full md:min-w-[unset]">
                <div class="flex items-center gap-x-[19px] xs:gap-x-4 xxs:flex-col xxs:gap-y-[30px]">
                  <div class="font-IstokWeb text-[40px] font-bold leading-[1.45] text-white md:items-start md:text-[36px] xxs:w-full xxs:text-[32px]">Palancar Reef</div>
                  <div class="font-IstokWeb text-[16px] font-normal leading-[1.43] text-white xxs:w-full">Cozumel, Mexico</div>
                </div>
                <p class="font-IstokWeb text-justify text-sm font-normal text-white">
                  Palancar Reef, part of the Arrecifes de Cozumel National Park off Cozumel Island&#x27;s southwest coast, is one of Mexico&#x27;s premier scuba diving destinations. Known for its vibrant coral formations and abundant marine life, the reef is divided into distinct sections that cater to divers of varying experience levels. Depths range from around 50 to 110 feet (15 to 34 meters), with features like swim-throughs—coral tunnels that divers can explore—adding to its allure.
                  <br />
                  <br />
                  Marine species frequently spotted here include sea turtles, eagle rays, nurse sharks, and diverse tropical fish, making it a vital habitat for biodiversity. The reef’s clear waters, visibility often exceeding 100 feet, enhance the dive experience, providing an ideal setting for underwater photography and exploration. Palancar Reef is a significant component of the Mesoamerican Barrier Reef System, the second-largest reef system globally, and it benefits from the conservation efforts of the Arrecifes de Cozumel National Park, which helps to protect the reef from overuse and ecological damage  .
                </p>
              </div>
            </div>
            <div class="flex w-[680px] max-w-[85%] justify-between gap-x-2.5 tn:gap-x-2">
              <div class="flex w-[200px] min-w-0 flex-col items-center">
                <img class="w-full object-cover" src="/assets/b81112a3f4bdb122f227c4a6fe91a73a.png" alt="alt text" />
                <div class="font-BaiJamjuree w-[86%] text-[6px] font-normal leading-[1.33] text-white">yeah</div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/b233444afe1c8993b3b73b37d525deab.png" alt="alt text" />
                <div class="ml-[13px] flex w-4 max-w-[85%] flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">shark</div></div>
              </div>
              <div class="flex w-[200px] min-w-0 flex-col">
                <img class="w-full object-cover" src="/assets/3dd0dfa5d879af4d85cbe14345255257.png" alt="alt text" />
                <div class="ml-[13px] flex w-[27px] max-w-[85%] flex-col tn:mt-0 tn:mr-0 tn:mb-0 tn:ml-2"><div class="font-BaiJamjuree flex h-2 w-full justify-center text-center text-[6px] font-normal leading-[1.33] text-white">fish again</div></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="flex flex-col">
        <div class="mx-auto mt-[42px] flex w-full max-w-[1280px] flex-col bg-[rgb(0,135,135)]">
          <div class="mx-9 mt-[17px] mb-[27px] flex gap-x-5 md:mx-8 md:mt-[17px] md:mb-[27px] md:flex-col md:items-center md:gap-y-[30px] xs:mx-4 xs:mt-[17px] xs:mb-[27px] tn:mx-2 tn:mt-[17px] tn:mb-[27px]">
            <div class="z-[1] flex w-[664px] min-w-0 flex-col md:w-full md:min-w-[unset]">
              <div class="font-Montserrat mx-1 flex items-center text-[60px] font-normal leading-[1.21] text-[rgb(191,245,255)] md:text-[52px] xxs:text-[36px]">Deep Reefs</div>
              <p class="font-Montserrat ml-1 flex items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)]">Deep Reefs is a website that provides information about coral reefs. This website was created as part of an Informatics project for SMA Santa Maria 1 Bandung.</p>
              <p class="mt-[92px] mr-1.5 flex items-center xs:mt-20 xs:mr-1.5 xs:mb-0 xs:ml-0 tn:mt-[50px] tn:mr-1.5 tn:mb-0 tn:ml-0">
                <span class="font-Montserrat text-[14px] font-bold leading-[1.21] text-[rgb(191,245,255)]">
                  <span class="font-bold">
                    About Me
                    <br />
                  </span>
                  <span>I created Deep Reefs to share informations about coral reefs and to raise awareness about their importance and the threats they face. Through this site, I hope to educate and inspire others to appreciate and protect these vital marine ecosystems, and also to hopefully get a good grade.</span>
                </span>
              </p>
            </div>
            <div class="mt-[72px] mb-[19px] flex w-[506px] min-w-0 flex-col items-center gap-y-[79px] md:m-0 md:w-full md:min-w-[unset] tn:gap-y-[50px] tn:gap-x-0">
              <div class="flex w-full flex-col gap-y-[46px]">
                <div class="relative flex w-[88px] max-w-[85%] flex-col">
                  <div class="font-Montserrat relative flex items-center justify-center text-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)]">Social Media</div>
                  <img class="absolute left-0 bottom-[-23px] w-[31px]" src="/assets/145c39a09949379514814fef26d0fabc.png" alt="alt text" />
                </div>
                <div class="flex justify-between gap-x-2.5 xxs:flex-col xxs:items-center xxs:gap-y-[30px]">
                  <p class="font-Montserrat flex w-[261px] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] xxs:w-full">
                    081395446863
                    <br />
                    ivanderkeynan07@gmail.com
                  </p>
                  <p class="font-Montserrat flex w-[209px] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] xxs:w-full">
                    Ivander Keynan Sianturi
                    <br />
                    Bandung, Indonesia
                  </p>
                </div>
              </div>
              <div class="flex w-[334px] max-w-[85%] flex-col"><div class="font-Montserrat mr-[60px] flex h-[17px] w-[274px] max-w-[85%] items-center text-[14px] font-normal leading-[1.21] text-[rgb(191,245,255)] md:mt-0 md:mr-8 md:mb-0 md:ml-0 xs:mt-0 xs:mr-4 xs:mb-0 xs:ml-0 tn:mt-0 tn:mr-2 tn:mb-0 tn:ml-0">© 2024 Deep Reefs. All rights reserved.</div></div>
            </div>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
